//Colors
$main-color: #18192D;
$secondary-color: #98A5B1;

$white-color: #ffffff;
$black-color: #000000;

// For items of Our works section
$shake-app-bg: #0A080D;
$shake-app-bg-gradient: linear-gradient(0deg, #0A080D, #0A080D), linear-gradient(90.57deg, #0D0B0F 50.98%, #130F17 99.53%);
$lingvalien-app-bg: #98E2FF;
$bind-app-bg: radial-gradient(31.36% 81.48% at 75.11% 50%, #323232 0%, #101010 100%);
$potok-app-bg: #0A0A25;