.base-flex-style {
  display: flex;
  align-items: center;
}

.header {
  @extend .base-flex-style;
  justify-content: space-between;
  color: $white-color;
  .main-logo {
    display: block;
    line-height: 0;
    @include max-width-1120 {
      max-width: 150px;
      width: 100%;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
  .nav-menu-list {
    @extend .base-flex-style;
    &__item {
      font-size: 18px;
      margin-right: 20px;
    }
  }
  .info {
    display: flex;
    .email {
      font-weight: 600;
      margin-right: 34px;
    }
    .lang-switcher {
      display: flex;
      .icon {
        display: block;
        width: 14px;
        height: 14px;
        background: url('../images/lang-icon.svg') 50%/cover no-repeat;
        margin-right: 10px;
      }
      &__item {
        font-size: 14px;
        line-height: 16px;
      }
      &__item:nth-child(2) {
        margin-right: 8px;
      }
      &__item:not(first-child) {
        color: rgba(255, 255, 255, 0.48);
      }
      &__item.active {
        color: $white-color;
      }
    }
  }
}