.arrow-base-style {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 11px;
  height: 18px;
  background: url('../images/arrow-icon.svg') 50%/cover no-repeat;
  transition: all .5s ease;
}

#scroll-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  transition: all .2s ease-in;
  width: 50px;
  height: 50px;
  user-select: none;
  right: 30px;
  bottom: 30px;
  opacity: 0;
  z-index: 100;
  box-shadow: 0 2px 15px rgba(86,123,137,.8);
  background-color: #568fc5;
  border-radius: 50%;
  &::before {
    content: '';
    @extend .arrow-base-style;
  }
  &::after {
    content: '';
    margin-top: 15px;
    opacity: 0;
    @extend .arrow-base-style;
  }
  &:hover {
    transform: scale(1.15);
    &::before {
      margin-top: -15px;
      opacity: 0;
    }
    &::after {
      margin-top: 0;
      opacity: 1;
    }
  }
}