@keyframes slideInFromLeft {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.base-pagination-style {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: #FFFFFF;
}

@keyframes arrowAnimation {
  0% {
    margin-left: 16px;
  }
  50% {
    margin-left: 24px;
  }
  100% {
    margin-left: 16px;
  }
}

//Custom style for slider
.slider-block {
  height: 570px;
  color: $white-color;
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 570px;
  }
  &__title {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 23px;
    .arrow-right {
      display: block;
      width: 20px;
      height: 8px;
      background: url('../images/arrow-right-icon.svg') 50%/cover no-repeat;
      margin-left: 16px;
      animation: 0.8s ease-in-out 0s infinite arrowAnimation;
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    max-height: 500px;
    width: 100%;
    height: 100%;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
      width: auto;
      height: auto;
    }
  }
  &__arrows {
    display: none;
  }
  
  //------------Media Queries - slider-block-----------//
  @include max-width-1024 {
    .slider-block__image {
      align-self: flex-end;
      max-width: 400px;
      max-height: 400px;
    }
  }
  
  @include max-width-768 {
    height: 430px;
    .slider-block__item {
      flex-direction: column;
      height: 430px;
    }
    .slider-block__title {
      align-self: flex-start;
    }
    .slider-block__image {
      align-self: unset;
      max-width: 375px;
      max-height: 375px;
      margin: 0 auto;
    }
  }
}

//Custom style for pagination
.slider-block-pagination {
  display: block;
  left: 0;
  bottom: 60px;
  transform: none;
  li:first-child {
    .slider-block-pagination__item {
      margin-left: 0;
    }
  }
  &__item {
    position: relative;
    width: 64px;
    height: 2px;
    background: none;
    opacity: 1;
    margin: 0 6px;
    border-radius: 0;
    pointer-events: none;
    &::after {
      @extend .base-pagination-style;
      width: 100%;
      opacity: 0.4;
    }
    &::before {
      @extend .base-pagination-style;
    }
    &.is-active {
      transform: none;
      background: none;
      &::before {
        animation: 3.06s linear 0s infinite slideInFromLeft;
      }
    }
    &.fill-bg {
      background: $white-color;
    }
  }
  
  //------------Media Queries - slider-block-pagination-----------//
  @include max-width-768 {
    top: 30px;
    height: max-content;
  }
}


