.promo {
  position: relative;
  padding-top: 32px;
  background: #0A080D;
  background: linear-gradient(107.01deg, #0A080D 38.67%, #0B0A0F 203.3%);
  
  .main-title {
    position: absolute;
    font-size: 64px;
    line-height: 74px;
    color: $white-color;
    max-width: 40%;
    top: 160px;
  }
}

.about {
  padding: 80px 0;
  .section-title {
    margin-bottom: 21px;
  }
  .about-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 64px;
    &__description {
      font-size: 32px;
      letter-spacing: .02em;
      line-height: 43px;
      width: 72%;
    }
    &__numbers {
      width: 24%;
      padding-right: 21px;
      letter-spacing: 0.04em;
      > span {
        font-size: 72px;
        display: block;
        margin-bottom: 13px;
      }
    }
  }
  .advantage-list {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fill, minMax(286px, 1fr));
  }
  .advantage-list__item {
    .icon {
      display: block;
      width: 64px;
      height: 64px;
      margin-bottom: 24px;
    }
    .design-icon {
      background: url("../images/interface-design-icon.svg") 50%/cover no-repeat;
    }
    .audit-icon {
      background: url("../images/app-audit-icon.svg") 50%/cover no-repeat;
    }
    .support-icon {
      width: 80px;
      height: 54px;
      margin-bottom: 30px;
      background: url("../images/support-icon.svg") 50%/cover no-repeat;
    }
    .outstaff-icon {
      background: url("../images/outstaff-icon.svg") 50%/cover no-repeat;
    }
    .title {
      font-weight: 500;
      font-size: 24px;
      letter-spacing: 0.04em;
      margin-bottom: 8px;
    }
    .description {
      line-height: 25px;
      letter-spacing: 0.02em;
      color: $secondary-color;
    }
  }
}

.our-works {
  .section-title {
    margin-bottom: 24px;
  }
  .app-list {
  
  }
  .app-list__item {
    padding: 80px 40px;
    letter-spacing: 1px;
    &.shake-app {
      color: $white-color;
      background: $shake-app-bg;
      background: $shake-app-bg-gradient;
    }
    &.lingvalien-app {
      background: $lingvalien-app-bg;
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../images/lingvalien-app-bg.svg") 50%/contain repeat;;
      }
      .review {
        border-top: 1px solid rgba(24,25,45,0.24);
      }
    }
    &.bind-app {
      background: $bind-app-bg;
      color: $white-color;
    }
    &.potok-app {
      color: $white-color;
      background: $potok-app-bg;
    }
    .content-wrap {
      width: 50%;
    }
    .keywords {
      display: block;
      font-size: 12px;
      line-height: 17px;
      opacity: 0.64;
      margin-bottom: 16px;
      text-transform: uppercase;
    }
    .title {
      display: flex;
      align-items: flex-start;
      font-weight: 500;
      font-size: 72px;
      margin-bottom: 8px;
      .logo {
        display: block;
        min-width: 56px;
        height: 56px;
        margin-right: 24px;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .description {
      line-height: 25px;
      letter-spacing: 0.02em;
      margin-bottom: 25px;
    }
    .button-list {
      margin-bottom: 32px;
    }
    .button-list__item {
      display: inline-block;
      width: 135px;
      height: 40px;
      margin-right: 8px;
      &.google-play {
        background: url("../images/play-market-button.svg") 50%/cover no-repeat;
      }
      &.app-store {
        background: url("../images/app-store-button.svg") 50%/cover no-repeat;
      }
    }
    .review {
      display: flex;
      align-items: flex-start;
      padding-top: 24px;
      border-top: 1px solid rgba(255,255,255,0.24);
    }
    .review__photo {
      display: block;
      min-width: 56px;
      height: 56px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 16px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .review__info {
      .author {
        font-weight: 500;
        margin-bottom: 8px;
      }
      .description {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.02em;
        opacity: 0.8;
      }
    }
  }
}